.coffe {
    &_container {
        width: 100%;
    }
    &__h1 {
        text-align: center;
        margin: 5px auto;
    }
}
.lenta {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.goods {
    width: 400px;
    &__img {
        width: 100%;
    }
    &__cut {
        width: 400px;
        height: 480px;
        overflow: hidden;
    }
    &__h3 {
        text-align: center;
    }
    &__p {
        margin: 4px 4px;
    }
    &__price {
        margin: 4px 4px;
    }
}
